*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* scondo principale */

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #dbdbd4;
}

.green {
    background-color: #419388;
    height: 100px;
    width: 100%;
}

main {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 80%;
    margin: auto;
    height: 80vh;
    display: flex;
    background-color: white;
}
/* sezione di sinistra: utente, notifiche, cerca, elenco chat*/

aside {
    width: 35%;
    height: 100%;
}

.notifiche {
    display: flex;
    background-color: #9ed9f8;
    width: 100%;
    height: 50px;
    padding: 5px;
}

.container-bell {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}
.notifiche i {
    color: #9ed9f8;
    font-size: 20px;
    line-height: 40px ;
}

.searchBar{
    display: flex;
}

.searchBar input {
    width: 95%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #F6F7F6;
    text-align: center;
}

 /* elenco contatti */

.container-Contatti {
    overflow-y: scroll;
}

.elenco-contatti {
    height: 50px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
}

.elenco-contatti:hover {
    background-color: #EAEAEA;
}

.elenco-contatti img {
    width: 10%;
    border-radius: 50%;
    margin-right: 10px;
}

.nome-contatti p {
    color: #B4B6B8;
}

.date-Contatti {
    margin-left: auto;
    color: #B4B6B8;
}

/* sezione di destra chat principale  */

section {
    width: 65%;
    height: 100%;
    background-color: rgb(68, 0, 255);
}

.nome-utente, .nav {
    display: flex;
    height: 10%;
}

.utente {
    width: 50%;
    height: 50px;
    background-color: burlywood;
}

.icons {
    width: 50%;
    height: 50px;
    background-color: rgb(135, 222, 135);
}

.chat-icons, .chat-utente {
    width: 50%;
    
    background-color: rgb(222, 135, 142);
}

.chat {
    height: 80%;
    background-color: rgb(135, 222, 142);
}

.scrivi-mess {
    height: 10%;
    background-color: rgb(222, 177, 135);
}



