*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #dbdbd4;
}

.green {
    background-color: #419388;
    height: 100px;
    width: 100%;
}

main {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 80%;
    margin: auto;
    height: 80vh;
    background-color: aqua;
}



