*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* sfondo principale */

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #dbdbd4;
}

.green {
    background-color: #419388;
    height: 100px;
    width: 100%;
}

main {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    margin: auto;
    height: 80vh;
    display: flex;
    background-color: white;
}
/* sezione di sinistra: utente, notifiche, cerca, elenco chat*/

aside {
    width: 35%;
    height: 100%;
}

.utente {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
}

.utente img {
    width: 30px;
    border-radius: 50%;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 50px;
}

.icons i {
    font-size: 15px;
    margin-right: 20px;
    color: #B1B1B1;
}

.notifiche {
    display: flex;
    background-color: #9ed9f8;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.container-bell {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}
.notifiche i {
    color: #9ed9f8;
    font-size: 15px;
    line-height: 30px ;
}

.container-search{
    display: flex;
}

.search {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.container-search input {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #F6F7F6;
    text-align: center;
}

 /* elenco contatti */

.container-Contatti {
    overflow-y: hidden;
    height: 300px;
}

.elenco-contatti {
    height: 50px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
}

.elenco-contatti:hover {
    background-color: #EAEAEA;
}

.elenco-contatti img {
    width: 12%;
    border-radius: 50%;
    margin-right: 10px;
}

.nome-contatti p {
    color: #B4B6B8;
}

.date-Contatti {
    margin-left: auto;
    color: #B4B6B8;
}

/* sezione di destra chat principale  */

section {
    width: 65%;
    height: 100%;
}

.nome-utente, .nav {
    padding: 5px ;
    display: flex;
    justify-content: space-around;
    height: 10%;
    background-color: #eaeaea;
}

#chat-attiva{
    display: flex;
    align-items: center;
}

#chat-attiva img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-icons, .chat-utente {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;   
}

.chat-icons i {
    font-size: 15px;
    margin-right: 20px;
    color: #B1B1B1;
}

/* chat attiva */

.chat {
    display: flex;
    height: 80%;
    background-image: url("../img/sfondo-chat.jpg");
    background-size: cover;
}

#messaggi-utente{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#messaggi-contatto{
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.messaggio-inviato {
    background-color: #D5F9BA;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.data-mess {
    font-size: 10px;
    text-align: right;
    color: #B1B1B1;
}

.messeggio-ricevuto {
    background-color: white;
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    margin-left: 30px;
}

/* nuovo mess */

.scrivi-mess {
    display: flex;
    height: 10%;
    background-color: #f2eeea;
}

.new-mess input {
    width: 80%;
    padding: 10px;
    border: none;
}

.icon-smile, .vocale {
    width: 10%;
    color: #B1B1B1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.new-mess {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}





