<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>BoolzApp</title>
</head>
<body>

    <div id="container">

        <div class="green"></div>

        <main>

        <!-- sezione di sinistra: elenco chat -->

            <aside>
                <div class="nome-utente">

                    <div class="utente">

                        <img src="img/avatar_io.jpg" alt="">

                        <span>Nome Utente</span>

                    </div>

                    <div class="icons">

                        <i class="fas fa-redo-alt"></i>

                        <i class="fas fa-comment-alt"></i>
    
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="notifiche">

                    <div class="container-bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div>
                    
                        <div>Ricevi notifiche di nuovi messaggi</div>
        
                        <div>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                        
                    </div>

                </div>

                <div class="container-search">

                    <div class="search">
                        <i class="fas fa-search"></i>
                    </div>

                    <input type="text" placeholder=" Cerca o inizia una nuova chat">
    
                </div>

                <!-- elenco utenti -->

                <div class="container-Contatti">

                    <div class="elenco-contatti" v-for="contact, i in contacts" :mykey="i"  @click="chatAttiva(i)">
        
                        <img :src="contact.profileImage" :alt="contacts[chatActive].userName">
        
                        <div class="nome-contatti">
        
                            <span>{{contact.userName}}</span>
            
                            <p>Messaggio</p>
        
                        </div>
        
                        <div class="date-Contatti">
        
                            10/01/2020 16:15:22
        
                        </div>
        
                    </div>

                </div>

            </aside>

            <!-- sezione di destra chat principale -->

            <section>
                <div class="nav">

                    <div class="chat-utente">

                        <div id="chat-attiva">

                            <img :src="contacts[chatActive].profileImage" :alt="contacts[chatActive].userName">
        
                            <div>
        
                                <span>{{contacts[chatActive].userName}}</span>
        
                                <p>Ultimo accesso oggi alle 10/01/2020 16:15:22</p>
        
                            </div>
        
                        </div>
    
                    </div>

                    <div class="chat-icons">

                        <i class="fas fa-search"></i>

                        <i class="fas fa-paperclip"></i>

                        <i class="fas fa-ellipsis-v"></i>

                    </div>
                </div>

                <!-- chat attiva -->
                <div class="chat">

                    <div id="messaggi-utente" v-for="message, i in contacts[chatActive].messages" :key="i">

                        <div :class="message.status === 'sent' ? 'messaggio-inviato' : 'messaggio-ricevuto'">
    
                            <div>{{message.text}}</div>

                            <div class="data-mess">{{message.date}}</div>
        
                        </div>
    
                    </div>

                    <!-- <div id="messaggi-utente" v-for="contact in contacts" v-show="contact.visible">

                        <div v-for="(message, i) in contact.messages" :key="i" :class="message.status === 'sent' ? 'messaggio-inviato' : 'messaggio-ricevuto'">

                            <div>{{message.text}}</div>

                            <div class="data-mess">{{message.date}}</div>

                        </div>

                    </div> -->

                    <!-- <div id="messaggi-utente">

                        <div class="messaggio-inviato">

                            <div>Hai portato a spasso il cane?</div>

                            <div class="data-mess">10/01/2020 15:30:55</div>
        
                        </div>
        
                        <div class="messaggio-inviato">
        
                            <div>Ricordati di dargli da mangiare</div>

                            <div class="data-mess">10/01/2020 15:50:00</div>
        
                        </div>

                    </div> -->

                </div>

                <div class="scrivi-mess">

                    <div class="icon-smile">
                        <i class="far fa-smile"></i>
                    </div>

                    <div class="new-mess">
                        <input type="text" placeholder="Scrivi un messaggio">
                    </div>

                    <div class="vocale">
                        <i class="fas fa-microphone"></i>
                    </div>

                </div>

            </section>

        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>